footer{
    --fill:rgba(255, 255, 255, 0.767);
    --font-weight: 300;
    position: relative;
    margin-top: 20em;
    width: 100%;
    min-height: 50vh;
    background-color: var(--dark);
    color: var(--white);
    padding-bottom: 30px;
}
footer .search{
    display: inline-block;
    margin-block: 10em 5em;
    color: black;
}
footer .logo{
    position: absolute;
    top: 0;
    left: 0;
}
footer ul{
    width: 50%;
    columns: 2;
    margin-bottom: 3em;
    list-style-type: disc;
    color: var(--white);
}
footer a{
    color: var(--white);
    text-decoration: none;
}
footer li:is(:hover,:focus){
    scale: .9;
}
footer li:is(:hover,:focus)::marker{
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--fill) ;
}
footer > .two{
    background-color: var(--black);
    width: 100%;
    position: absolute;
    bottom: 0;
}
footer .social{
    gap: 1em;
    position: relative;
    bottom: -2em;
}
footer .social > *{
    cursor: pointer;
}
footer .social > a > *:is(:hover,:focus){
    scale: 1.1;
    fill: var(--fill);
}
@media (min-width:60em) {
    footer > .one{
        display: flex;
        justify-content: space-between ;
        align-items: center;
        flex-direction: row ;
        width: 95%;
    }
    
    footer .search{
        margin: 0;
        align-self: flex-start;
    }
    
}