.--loading__0001{
    position: relative;
    width: 7vw;
    height: 7vw;
    background: var(--background-main);
    margin-block: 10em;
    margin-inline: auto;
    border-radius: 50%;
    overflow: hidden;
    animation: loading 2s linear infinite;
}
@keyframes loading{
    100%{
        transform: rotate(360deg);
    }

}
.--loading__0001::before,.--loading__0001::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    background-color: var(--background-main--light, blue);
}
.--loading__0001::after{
    width: 70%;
    height: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--body--bg,white);
    border-radius: 50%;
}
.--loading__0001 > .circle::before,.--loading__0001 > .circle::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--background-main);
    border-radius: 50%;
    width: 15%;
    height: 15%;
}
.--loading__0001 > .circle::before{
    left: 0;
}
.--loading__0001 > .circle::after{
    right: 0;
}